{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MueveLasNalgas</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome_free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light bg-light sticky-top navbar-expand-md shadow-lg">
        <a class="navbar-brand ml-3" href="#">MueveLasNalgas</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#barraMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barraMenu">
            <ul class="nav navbar-nav mr-auto navbar-nav-scroll">
                <li class="nav-item" role="presentation">
                    <a class="nav-link{% block comunidades %}{% endblock %}" href="../../comunidades">Comunidades</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link{% block deportivas %}{% endblock %}" href="../../deportivas">Zonas deportivas</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="usuario_dropdown" data-toggle="dropdown" href="#"><i class="fas fa-user"></i></span></a>
                    <div class="dropdown-menu dropdown-menu-right text-right">
                        <h6 class="dropdown-header text-center">Usuario: {{user}}</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../../logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% block principal %}
    {% endblock %}

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Creadores</h3>
                        <ul>
                            <li><a href="https://www.instagram.com/waton_basti/">Bastian Galvez</a></li>
                            <li><a href="https://www.instagram.com/alanrogers.drums.vx/">Alan Pavez</a></li>
                            <li><a href="https://www.instagram.com/ascua.vida.mia/">Felipe Zavalla</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item text">
                        <h3>Proposito</h3>
                        <p>Unete y se parte de las comunidades que entrega MLN, comparte otros usuarios y expande tu conocimiento sobre los de tú interes.</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Proposito</h3>
                        <p><br>MLN tiene como proposito mas importante el incentivar y aumentar la actividad fisica del país entregando herramientas para los usuarios que faciliten la realizacion de actividades deportivas, para mejorar la vida de estos intentando
                            llevarlos hacia una vida activa y sana.<br><br></p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
                <p class="copyright">Mueve Las Nalgas © 2021</p>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% block scripts %}
    {% endblock %}
</body>

</html>